.otp-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 1200px;
  margin: 0 auto;
}

.otp-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.otp-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.otp-display {
  display: flex;
  gap: var(--main-gap);
  margin-bottom: 20px;
}

.otp-digit {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
  border: 2px solid var(--color-option);
  background-color: white;
  border-radius: var(--main-border-radius);
  color: var(--color-text);
}

.otp-submit-button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.otp-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.otp-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 240px;
  padding: 10px;
}

.otp-keypad-button {
  background-color: var(--color-option);
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  font-size: 1.4rem;
  color: var(--color-text);
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


.otp-keypad-button:hover {
  background-color: #c6c6ca;
}
