.otp-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.otp-display {
  display: flex;
  gap: var(--main-gap);
  margin-bottom: 20px;
}

.otp-digit {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: var(--main-border-radius);
}

.otp-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--main-gap);
  width: 200px;
}

.otp-submit-button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}